/TuristaMundial/nbproject/private/
/TuristaMundial/build/
/Cartera_de_clientes/nbproject/private/
/Cartera_de_clientes/build/
/Cartera_de_clientes/dist/
/LecturaSerial/nbproject/private/
/LecturaSerial/build/
/examen/nbproject/private/
/examen/build/
/ProyectoPrueba/build/
/ProyectoPrueba/nbproject/private/
/CarteraDeClientes/build/
/CarteraDeClientes/nbproject/private/
/DesktopFrames/nbproject/private/
/Tarea2/build/
/Tarea2/nbproject/private/
/Tarea2/dist/